my-workflow-2-u2OjinzPS9BvdrHx.json
{"createdAt":"2024-11-29T12:36:18.246Z","updatedAt":"2024-11-29T12:47:58.000Z","id":"u2OjinzPS9BvdrHx","name":"My workflow 2","active":false,"nodes":[{"parameters":{"options":{}},"id":"c4bd4597-26f9-4d36-aaac-d608c9064ee0","name":"Set date","type":"n8n-nodes-base.dateTime","typeVersion":2,"position":[-180,880]},{"parameters":{"operation":"formatDate","date":"={{ $json.currentDate }}","format":"custom","customFormat":"dd-MM-yyyy/H:mm","options":{}},"id":"ba62b267-5721-493d-b056-60b4ac76026b","name":"Format date","type":"n8n-nodes-base.dateTime","typeVersion":2,"position":[100,880]},{"parameters":{"keepOnlySet":true,"values":{"string":[{"name":"commitDate","value":"={{ $json.formattedDate }}"}]},"options":{}},"id":"38620a5c-788b-4b47-aa95-168fe72bc834","name":"Set commit date","type":"n8n-nodes-base.set","typeVersion":2,"position":[280,880]},{"parameters":{"authentication":"oAuth2","resource":"file","operation":"list","owner":{"__rl":true,"value":"trungthanhcva2206","mode":"list","cachedResultName":"trungthanhcva2206","cachedResultUrl":"https://github.com/trungthanhcva2206"},"repository":{"__rl":true,"value":"n8n-workflows","mode":"list","cachedResultName":"n8n-workflows","cachedResultUrl":"https://github.com/trungthanhcva2206/n8n-workflows"},"filePath":"="},"id":"368362cb-309d-4ce6-9780-6818ebd90b08","name":"List files from repository [GITHUB]","type":"n8n-nodes-base.github","typeVersion":1,"position":[500,880],"alwaysOutputData":true,"credentials":{"githubOAuth2Api":{"id":"sfckBZZbBk5t2dL2","name":"GitHub account"}}},{"parameters":{"operation":"aggregateItems","fieldsToAggregate":{"fieldToAggregate":[{"fieldToAggregate":"name"}]},"options":{}},"id":"cc68689e-eb71-43f9-9c7e-e08fef26a3a2","name":"Combine file names [GITHUB]","type":"n8n-nodes-base.itemLists","typeVersion":2.1,"position":[720,880]},{"parameters":{"filters":{},"requestOptions":{}},"id":"10d973b4-3c58-4e93-8852-d021f27295bf","name":"Retrieve workflows [N8N]","type":"n8n-nodes-base.n8n","typeVersion":1,"position":[1000,880],"credentials":{"n8nApi":{"id":"tX26ubjdFpV9QKFv","name":"n8n account"}}},{"parameters":{"mode":"jsonToBinary","options":{"fileName":"={{ $json.name.replace(/\\s+/g, '-').toLowerCase() }}-{{ $json.id }}.json"}},"id":"76c23d85-ed68-4819-a853-acb266abae9e","name":"Move JSON to binary","type":"n8n-nodes-base.moveBinaryData","typeVersion":1,"position":[1240,880]},{"parameters":{"batchSize":1,"options":{}},"id":"7df897d2-2996-4dd3-ba20-c617cec1b67d","name":"Split to single items","type":"n8n-nodes-base.splitInBatches","typeVersion":2,"position":[1400,880]},{"parameters":{"conditions":{"string":[{"value1":"={{ $node['Combine file names [GITHUB]'].json.name }}","operation":"contains","value2":"={{ $binary.data.fileName }}"}]}},"id":"9839b3f6-bfd0-40fa-8adf-94f8632860f9","name":"Check if file exists in repository","type":"n8n-nodes-base.if","typeVersion":1,"position":[1600,880]},{"parameters":{"authentication":"oAuth2","resource":"file","operation":"edit","owner":{"__rl":true,"value":"trungthanhcva2206","mode":"list","cachedResultName":"trungthanhcva2206","cachedResultUrl":"https://github.com/trungthanhcva2206"},"repository":{"__rl":true,"value":"n8n-workflows","mode":"list","cachedResultName":"n8n-workflows","cachedResultUrl":"https://github.com/trungthanhcva2206/n8n-workflows"},"filePath":"={{ $binary.data.fileName }}","binaryData":true,"commitMessage":"=backup-{{ $node['Set commit date'].json.commitDate }}"},"id":"cdbfb4cf-778b-4b12-ae95-dc977b77f2ac","name":"Update file [GITHUB]","type":"n8n-nodes-base.github","typeVersion":1,"position":[2040,660],"credentials":{"githubOAuth2Api":{"id":"sfckBZZbBk5t2dL2","name":"GitHub account"}}},{"parameters":{"authentication":"oAuth2","resource":"file","owner":{"__rl":true,"value":"trungthanhcva2206","mode":"list","cachedResultName":"trungthanhcva2206","cachedResultUrl":"https://github.com/trungthanhcva2206"},"repository":{"__rl":true,"value":"n8n-workflows","mode":"list","cachedResultName":"n8n-workflows","cachedResultUrl":"https://github.com/trungthanhcva2206/n8n-workflows"},"filePath":"={{ $binary.data.fileName }}","binaryData":true,"commitMessage":"=backup-{{ $node['Set commit date'].json.commitDate }}"},"id":"61e949d3-2af4-4560-8747-97193fb37fab","name":"Upload file [GITHUB]","type":"n8n-nodes-base.github","typeVersion":1,"position":[2000,960],"credentials":{"githubOAuth2Api":{"id":"sfckBZZbBk5t2dL2","name":"GitHub account"}}},{"parameters":{},"id":"af916aec-53e6-4266-8145-25351ec0a024","name":"When clicking ‘Test workflow’","type":"n8n-nodes-base.manualTrigger","typeVersion":1,"position":[-420,880]}],"connections":{"Set date":{"main":[[{"node":"Format date","type":"main","index":0}]]},"Format date":{"main":[[{"node":"Set commit date","type":"main","index":0}]]},"Set commit date":{"main":[[{"node":"List files from repository [GITHUB]","type":"main","index":0}]]},"List files from repository [GITHUB]":{"main":[[{"node":"Combine file names [GITHUB]","type":"main","index":0}]]},"Combine file names [GITHUB]":{"main":[[{"node":"Retrieve workflows [N8N]","type":"main","index":0}]]},"Retrieve workflows [N8N]":{"main":[[{"node":"Move JSON to binary","type":"main","index":0}]]},"Move JSON to binary":{"main":[[{"node":"Split to single items","type":"main","index":0}]]},"Split to single items":{"main":[[{"node":"Check if file exists in repository","type":"main","index":0}]]},"Check if file exists in repository":{"main":[[{"node":"Update file [GITHUB]","type":"main","index":0}],[{"node":"Upload file [GITHUB]","type":"main","index":0}]]},"Update file [GITHUB]":{"main":[[{"node":"Split to single items","type":"main","index":0}]]},"Upload file [GITHUB]":{"main":[[{"node":"Split to single items","type":"main","index":0}]]},"When clicking ‘Test workflow’":{"main":[[{"node":"Set date","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","saveManualExecutions":true,"callerPolicy":"workflowsFromSameOwner"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"5f75e07d-99c2-4f71-a976-46bd0ac4744e","triggerCount":0,"tags":[]}